<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
  <link rel="stylesheet" type="text/css" href="status.css">
  <link rel="stylesheet" type="text/css" href="fa.all.min.css">
  <script src="status.js" type="text/javascript"></script>

  <title>EESSI status</title>
</head>

<body>

<div class="header-row">
    <div class="header-text">
        <div class="content">
            <h1 class="content-left">EESSI :: Status</h1>
            <img class="content-right inline" src="eessi-512px.png" width="75px" />
        </div>
    </div>
</div>

<div class="content-row">

    <div class="overall">
        <div class="{{ eessi_status_class }} overall-info"></div> 
        <h1>{{ eessi_status_text }}</h1>
        <p class="overall-description">{{ eessi_status_description }}</p>
    </div>

    <div class="legend">
        <span class="{{ legend.OK.class }}"> {{ legend.OK.text }}</span>
        <span class="{{ legend.DEGRADED.class }}"> {{ legend.DEGRADED.text }}</span>
        <span class="{{ legend.WARNING.class }}"> {{ legend.WARNING.text }}</span> 
        <span class="{{ legend.FAILED.class }}"> {{ legend.FAILED.text }}</span>
        <span class="{{ legend.MAINTENANCE.class }}"> {{ legend.MAINTENANCE.text }}</span>
    </div>

    <div class="content-left">
        <div id="stratum0_handler" class="infobox">
            <div class="infoblock stratum0">
                <span class="fas fa-database infobox-icon"></span>
                <h2>Stratum0</h2>
                <div class="content-right"><span class="{{ stratum0_status_class }} infoblock-statusicon"></span></div>
            </div>
            <div id="stratum0" class="expanded">
                <ul class="details">
                    {% for element in stratum0_details %}
                    <li>{{ element }}</li>
                    {% endfor %}
                <ul>
            </div>
        </div>
        <div id="stratum1_handler" class="infobox">
            <div class="stratum1 infoblock">
                <span class="fas fa-project-diagram infobox-icon"></span>
                <h2>Stratum1s</h2>
                <div class="content-right"><span class="{{ stratum1_status_class }} infoblock-statusicon"></span></div>
            </div>
            <div id="stratum1" class="expanded">
            <table class="details">
                <tr>
                    <th class="main"></th>
                    <th class="updates">Updates</th>
                    <th class="geoapi">GeoAPI</th>
                </tr>

                {% for server in stratum1s|sort(attribute="name") %}
                <tr>
                    <td class="main">{{ server.name }}</td>
                    <td class="updates"><span class="{{ server.update_class }}"></span></td>
                    <td class="geoapi"><span class="{{ server.geoapi_class }}"></span></td>
                </tr>
                {% endfor %}
            </table>
            </div>

        </div>
    </div>

    <div class="content-right">
        <div id="repositories_handler" class="infobox">
            <div class="repositories infoblock">
                <span class="fas fa-folder-open infobox-icon"></span>
                <h2>Repositories</h2>
                <div class="content-right"><span class="{{ repositories_status_class }} infoblock-statusicon"></span></div>
            </div>
            <div id="repositories" class="expanded">
                <table class="details">
                        <tr>
                            <th class="main"></th>
                            <th class="updates">Version</th>
                            <th class="geoapi">Snapshot</th>
                        </tr>
        
                        {% for repo in repositories|sort(attribute="name") %}
                        <tr>
                            <td class="main">{{ repo.name }}</td>
                            <td class="updates"><span class="{{ repo.revision_class }}"></span></td>
                            <td class="geoapi"><span class="{{ repo.snapshot_class }}"></span></td>
                        </tr>
                        {% endfor %}
                    </table>
                    </div>
        </div>
    </div>
</div>

<div class="footer">Last updated {{ last_update }} | contact@eessi-hpc.org</div>

</body>
</html>